<div class="container">
  <h1>Stupid coaching</h1>
  <div class="row" id="chat">
    <div class="col-6">
      <div class="message">
        <p><%= params[:answer] %></p>
        <p>You</p>
      </div>
      <div class="message" id="answer">
        <p><strong><%= @answer %></strong></p>
        <p>Your coach</p>
      </div>
    </div>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
